<%= form_with model: external_app do |form| %>
  <%= render 'layouts/form_errors', object: external_app %>

  <div>
    <%= form.label :name, "Наименование:" %>
    <%= form.text_field :name %>
  </div>

  <% if external_app.persisted? %>
    <div>
      <%= "Токен: #{external_app.token}" %>
    </div>
  <% end %>

  <div>
    <%= form.check_box :active %>
    <%= form.label :active, "Активный" %>
  </div>

  <div>
    <%= form.label :callback_url, "Callback URL:" %>
    <%= form.text_field :callback_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>