<div>
  <div>
    <%= expense.id %>
  </div>
  <div>
    <%= expense.created_at %>
  </div>
  <div>
    <%= expense.author.name %>
  </div>
  <div>
    <%= expense.source.name %>
  </div>
  <div>
    <%= expense.sum %>
  </div>
  <div>
    <%= expense.description %>
  </div>
  <div>
    <%= expense.payment_date %>
  </div>
  <div>
    <%= status_name(expense.status) %>
  </div>
  <div>
    <%= expense.responsible.name if expense.responsible %>
  </div>
  <div>
    <%= link_to 'Просмотр', expense_path(expense) %>
    <% if current_user.can_agree %>
      <div>
        <%= button_to "Утвердить", expense_agree_path(expense), method: :put %>
        <%= button_to "Отклонить", expense_disagree_path(expense), method: :put %>
      </div>
    <% end %>
  </div>
</div>