<div>
  <div>
    <%= link_to "# #{expense.id}", expense_path(expense) %>
  </div>
  <div>
    <%= 'Создана: ' %>
    <%= expense.created_at %>
  </div>
  <div>
    <%= 'Организация: ' %>
    <%= expense.organization.name %>
  </div>
  <div>
    <%= 'Подразделение: ' %>
    <%= expense.division.name if expense.division %>
  </div>
  <div>
    <%= 'Банковский счет/касса: ' %>
    <%= expense.source.name %>
  </div>
  <div>
    <%= 'Сумма: ' %>
    <%= expense.sum %>
  </div>
  <div>
    <%= 'Описание: ' %>
    <%= expense.description %>
  </div>
  <div>
    <%= 'Дата оплаты: ' %>
    <%= expense.payment_date %>
  </div>
  <div>
    <%= 'Статус: ' %>
    <%= status_name(expense.status) %>
  </div>
  <div>
    <%= 'Ответственный: ' %>
    <%= expense.responsible.name if expense.responsible %>
  </div>
</div>