<%= form_with model: expense do |form| %>
  <% if expense.errors.any? %>
    <%= expense.errors.full_messages.to_sentence.capitalize %>
  <% end %>

 <div>
    <%= form.label :source, "Банковский счет/касса:" %>
    <%= form.grouped_collection_select :source_sgid, [BankAccount, Cashbox], :all, :list_title, :to_signed_global_id, :name %>
  </div> 

  <div>
    <%= form.label :sum, "Сумма: " %>
    <%= form.number_field :sum, min: 1, step: 0.01 %>
  </div>

  <div>
    <%= form.label :description, "Описание: " %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :payment_date, "Дата оплаты: " %>
    <%= form.date_field :payment_date %>
  </div> 

  <div>
    <%= form.label :notes, "Заметки: " %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>