<h1>Заявки</h1>
<div>
  <%= link_to "Добавить заявку", new_expense_path %>
</div>
<br>
<br>
<div>
  <%= form_with url: expenses_path, method: :get do |form| %>
    <p>Отбор</p>
    <div>
      <%= form.hidden_field :field, value: @sorting[:field] %>
      <%= form.hidden_field :direction, value: @sorting[:direction] %>
      <%= form.check_box :f_not_agreed, { checked: @filtered_statuses_id.include?(ExpenseStatus.not_agreed.id.to_s) }, ExpenseStatus.not_agreed.id.to_s %>
      <%= form.label :f_not_agreed, 'Не согласована' %>
      <%= form.check_box :f_agreed, { checked: @filtered_statuses_id.include?(ExpenseStatus.agreed.id.to_s) }, ExpenseStatus.agreed.id.to_s %>
      <%= form.label :f_agreed, 'Согласована' %>
      <%= form.check_box :f_rejected, { checked: @filtered_statuses_id.include?(ExpenseStatus.rejected.id.to_s) }, ExpenseStatus.rejected.id.to_s %>
      <%= form.label :f_rejected, 'Отклонена' %> 
    </div>
    <div>
      <%= form.submit 'Применить' %>
    </div>
  <% end %>
</div>
<br>
<br>
<div>
  Сортировать по:
  <%= sort_indicator(@sorting[:direction]) if @sorting[:field] == 'created_at' %> 
  <%= sort_link(sorting: @sorting, field: 'created_at', label: 'Дата', filter: @filter) %> |
  <%= sort_indicator(@sorting[:direction]) if @sorting[:field] == 'sum' %> 
  <%= sort_link(sorting: @sorting, field: 'sum', label: 'Сумма', filter: @filter) %> |
  <%= sort_indicator(@sorting[:direction]) if @sorting[:field] == 'payment_date' %>
  <%= sort_link(sorting: @sorting, field: 'payment_date', label: 'Дата оплаты', filter: @filter) %>
</div>
<br>
<br>
<%= render @expenses %>
<%= paginate @expenses %>