<h1>Заявки</h1>
<br>
<div>
  <%= form_with url: expenses_path, method: :get do |form| %>
    <p>Отбор</p>
    <div>
      <%= form.hidden_field :field, value: @sorting['field'] %>
      <%= form.hidden_field :direction, value: @sorting['direction'] %>      
      <%= form.collection_check_boxes :statuses, Expense.statuses, :second, :first do |checkbox| %>
        <%= checkbox.check_box(checked: status_checked?(checkbox.value)) %>
        <%= checkbox.label { status_name(checkbox.text) } %>
      <% end %> 
    </div>
    <div>
      <%= form.submit 'Применить' %>
    </div>
  <% end %>
</div>
<br>
<br>
<div>
  Сортировать по:
  <%= sort_indicator(@sorting['direction']) if @sorting['field'] == 'created_at' %> 
  <%= sort_link(sorting: @sorting, field: 'created_at', label: 'Дата', filter: @selected_filters) %> |
  <%= sort_indicator(@sorting['direction']) if @sorting['field'] == 'sum' %> 
  <%= sort_link(sorting: @sorting, field: 'sum', label: 'Сумма', filter: @selected_filters) %> |
  <%= sort_indicator(@sorting['direction']) if @sorting['field'] == 'payment_date' %>
  <%= sort_link(sorting: @sorting, field: 'payment_date', label: 'Дата оплаты', filter: @selected_filters) %>
</div>
<br>
<br>
<%= render @expenses %>
<%= paginate @expenses %>