<div>
  <%= link_to "Заявки", expenses_path %> |
  <% if current_user.is_admin %>
    <%= link_to "Банковские счета/кассы", sources_path %> |
    <%= link_to "Пользователи", users_path %>
    <%= link_to "Внешние приложения", external_apps_path %>
  <% end %>
  <% if current_user %>
    <%= current_user.login %>
    <%= button_to "Выйти", user_session_path(current_user_session), method: :delete %>
  <% else %>
    <%= link_to "Войти", new_user_session_path %>
  <% end %>
</div>