<!DOCTYPE html>
<html>
  <head>
    <title>CostsAgreeding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |flash_type, message| %>
      <%= message %>
    <% end %>

    <% if current_user %>
      <%= render 'layouts/navigation' %>
    <% end %>
  
    <%= yield %>
  </body>
</html>
